<% @forms.each do |form| %>
<div class="card mt-3">
  <div class="card-body d-flex justify-content-between">
    <%= form.name %> / <%= form.phone %>
    <div>
      <%= link_to 'Visualizar', form_path(form), class: 'btn btn-success btn-sm' %>
      <%= link_to 'Editar', edit_form_path(form), class: 'btn btn-secondary btn-sm' %>
      <%= link_to 'Apagar', form_path(form), class: 'btn btn-danger btn-sm', method: :delete, data: { confirm: 'Gostaria de apagar esse cadastro?' } %>
    </div>
  </div>
</div>
<% end %>
